<!DOCTYPE html>
<html>
<head>
    <title>Login - SHE-FIX</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="form-page">

    <h1 class="form-title">LOG IN</h1>

    <form class="form-box" id="loginForm">
        <input type="email" placeholder="ENTER YOUR EMAIL" required>
        <input type="password" placeholder="PASSWORD" required>
        <button type="submit" class="submit-btn">SUBMIT</button>
    </form>

</body>
</html>
