<!DOCTYPE html>
<html>
<head>
    <title>Safety & Services - SHE-FIX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="solutions-page"> <a href="/dashboard" class="back-btn">← Back to Dashboard</a>

    <div class="solutions-header">
        <h1 class="girlies-title">Safety and Services</h1>

        </div>
    </div>

<div class="cards-grid">
    <div class="safety-card">
        <div class="icon-holder">
            <img src="{{ url_for('static', filename='images/sos.png') }}">
        </div>
        <h3>Emergency Alerts</h3>
    </div>

    <div class="safety-card">
        <div class="icon-holder">
            <img src="{{ url_for('static', filename='images/nearby.png') }}">
        </div>
        <h3>Nearby Services</h3>
    </div>

    <div class="safety-card">
        <div class="icon-holder">
            <img src="{{ url_for('static', filename='images/legal.png') }}">
        </div>
        <h3>Legal rights and guide</h3>
    </div>
        </a>
    </div>

</body>
</html>